body{
  margin:0;
}
h1{
  font-size:40px;
  text-align: center;
  margin:0;
  padding:20px;
}

 li a {
   display: block;
   text-decoration: none;
   padding: 12px 15px;
   color: white;
   text-align: center;
 }
 a:hover:not(#fart,#buyorange){
   background-color: #d8a66e;
 }
 .item1 { grid-area: header;}
 .item2 { grid-area: menu; background-color: #cf8a46;}
 .item3 { grid-area: left; background-color: #DEB887;}
 .item4 {
   grid-area: main;
   padding-left: 30px;
   padding-top: 15px;
 }
 .item1 , .item4 {
   background-color: white;
 }
 .grid-container {
   display: grid;
   grid-template-areas:
    'header header'
    'menu main'
    'left main';
    grid-template-rows: auto 45px auto;
    grid-template-columns: 150px auto;
  grid-gap: 1px;
  background-color: black;
 }

 .suspect {
   margin: 0;
   text-align: center;
   padding-top: 10px;
 }
 .item3 ol {
   padding-left: 0;
   margin: 0;
   list-style-type: none;
 }
 .not-kiwi {
   padding-left: 20px;
 }
 img {
   float: left;
   padding-right: 23px;
 }
 .article {
   padding-right: 23px;
 }
 @media(max-width:750px){
   .grid-container {
     display: block;
     background-color: white;
   }
   .suspect {
     display: inline;
     padding-left: 12px;
   }
   h1 {
     font-size: 30px;
   }
   #annoying {
    width: 200px;
   }
   img {
     float: none;
   }
 }
